#left_pane {
	display:inline-block;
	float:left;
	width: 100%;
	height: 500px;
	padding:15px 20px;
	margin-left: 13px;
}

#left_pane p {
	font-size:12px;
	color:#d6d7d7;
	line-height:1.6em;
}
#left_pane h1 {
	font-size:13pt;
	font-weight: bold;
	line-height:1.6em;
	color:#fff;
	margin:40px 0 0 0;
}
#left_pane h2 {
	font-size:13pt;
	font-weight:normal;
	color:#fff;
	height:34px;
	background:url(../images/title_border_btm.png) no-repeat;
}
#left_pane ul li {
	font-size:12px;
	color:#d6d7d7;
	line-height:40px;
}
#left_pane ol li {
	font-size:12px;
	color:#d6d7d7;
	line-height:40px;
}
#left_pane blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	font-style:italic;
	color:#d4d2d2;
	line-height:1.6em;
	padding:25px;
	background:url(../images/quote.png) repeat;
	border:1px #021c25;
	width:400px;
}

#right_pane {
	display:inline-block;
	float:left;
	width:300px;
	height: 500px;
	padding:15px 0;
}
#right_pane ul li {
	font-size:12px;
	color:#d6d7d7;
	line-height:1.6em;
	list-style:none;
}
#right_pane span {
	font-weight:bold;
}
#right_pane ul li img {
	margin:15px 0 15px 0;
}
#right_pane h2 {
	font-size:13pt;
	font-weight:normal;
	color:#fff;
	width:253px;
	height:37px;
	padding:0 20px;
	margin:11px 0 0 30px;
	background:url(../images/title_border_btm_small.png) no-repeat;
}
#right_pane img {
	display:inline-block;
	float:right;
	padding:0 0 13px 0;
}

#right_pane {
	display:inline-block;
	float:left;
	width:400px;
	padding:15px 0;
}
#right_pane ul li {
	font-size:12px;
	color:#d6d7d7;
	line-height:1.6em;
	list-style:none;
}
#right_pane span {
	font-weight:bold;
}
#right_pane ul li img {
	margin:15px 0 15px 0;
}
#right_pane h2 {
	font-size:13pt;
	font-weight:normal;
	color:#fff;
	width:253px;
	height:37px;
	padding:0 20px;
	margin:11px 0 0 30px;
	background:url(../images/title_border_btm_small.png) no-repeat;
}
#right_pane img {
	display:inline-block;
	float:right;
	padding:0 0 13px 0;
}

#center_pane {
	display:inline-block;
	float:left;
	width:100%;
	padding:15px 0;
}
#center_pane ul li {
	font-size:12px;
	color:#d6d7d7;
	line-height:1.6em;
	list-style-type: square;
}
#center_pane span {
	font-weight:bold;
}
#center_pane ul li img {
	margin:15px 0 15px 0;
}
#center_pane h2 {
	font-size:13pt;
	font-weight:normal;
	color:#fff;
	width:253px;
	height:37px;
	margin:11px 0 0 30px;
	background:url(../images/title_border_btm_small.png) repeat-y;
}
#center_pane img {
	display:inline-block;
	float:right;
	padding:0 0 13px 0;
}