
#portfolio {
}

.portfolio_container {
	display:inline-block;
	width:100%;
	height: 688px;
	margin-bottom: 10px;
}

.portfolio_container hr {
	width: 860px;
	float: left;
	margin-left: 20px;
}

#portfolio h1 {
	font-size:12pt;
	font-weight: bold;
	line-height:1.6em;
	color:#fff;
	margin:10px 0 0 0;
}

#portfolio h3 {
	font-weight: bold;
	line-height:1.6em;
	color:#fff;
	margin:10px 0 0 40px;
}

.portfolio_title {
	text-align: left;
	width: 90%;
	margin-left: 13px;
}

.portfolio_spot {
	display:inline-block;
	list-style: inside none;
	float:left;
	width:252px;
}

.portfolio_spot p {
	font-size:12px;
	color:#d6d7d7;
	margin: 0;
}
.portfolio_spot h1 {
	font-size:14pt;
	font-weight:normal;
	color:#fff;
}
.portfolio_spot ul li {
	list-style:none;
	font-size:10px;
	color:#d6d7d7;
}

#design_gallery {
	width: 700px; 
	height: 400px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

#engrave_gallery {
	width: 700px; 
	height: 400px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

#print_gallery {
}